/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
credentials/gcloud-service.json
credentials/gcloud-service.json
myksp-9babf-firebase-adminsdk-4yszx-99f212c041.json
